@tailwind base;
@tailwind components;
@tailwind utilities;

.red-primary{
    @apply bg-[#FF725E] text-white
}
.red-text{
    @apply text-[#FF725E]
}

.secondary{
    @apply bg-[#EBFFF6]
}

.font-soul{
    font-family: 'Pacifico', cursive;
}
.center-div{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-cinzel{
    font-family: 'Cinzel Decorative', cursive;
}